<div class="burger-image">
    <img src="assets/img/burgerA.png" alt="eat-da-burger">
</div>

<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<form class="create-form">
    <textarea id="burger_txt"></textarea>
    <button type="submit">Add-Da-Burger!</button>
    <label>Enter a burger you want to eat...</label>
</form>